@import "assets/estilos/core/variables.scss";
.textfieldFaq {
    background-color: $light-gray;
    border: 1px solid $secondary-color !important;
    line-height: 1.75;
    padding-left: 5px !important;
}