@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$primary-color:  #FF8A00;
$secondary-color:#444444;
$white: #fff;
$light-gray: #F9F9F9;
$medium-gray: #e9e9e9;
$green: #008000;
